body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    text-align: center;
}

header {
    background: #1d3557;
    padding: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0.2);
    padding: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.feature-card {
    background: white;
    color: black;
    padding: 30px;
    border-radius: 10px;
    text-decoration: none;
    width: 200px;
}

.container {
    background: white;
    color: black;
    padding: 30px;
    margin: 30px auto;
    width: 80%;
    border-radius: 10px;
}

.quiz-list a {
    display: block;
    padding: 15px;
    background: #667eea;
    color: white;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background: #1d3557;
    padding: 20px;
}
/* MENU BUTTON */
.menu-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background: #667eea;
    color: white;
    border: none;
    padding: 12px 16px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1000;
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    left: -260px;
    top: 0;
    width: 260px;
    height: 100%;
    background: #1d3557;
    padding: 20px;
    transition: 0.3s;
    z-index: 999;
}

.sidebar.active {
    left: 0;
}

.sidebar h2 {
    color: white;
    margin-bottom: 15px;
}

.sidebar h3 {
    color: #ccc;
    margin-top: 15px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 8px 0;
}

.sidebar a:hover {
    color: #667eea;
}
